* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(250, 248, 246);
    min-height: 100vh;
}


.container {
    width: 100%;
    max-width: 900px;
    margin: 80px auto 0;
    padding: 0 20px;
    text-align: center;
}


h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.texto1 {
    color: rgba(4, 10, 4, 0.719);
    font-weight: bold;
}



.container2 {
    background-color: rgb(40, 104, 21);
    width: 100%;
    max-width: 400px;

    margin: 20px auto;

    color: white;
    border-radius: 10px;
    padding: 15px;

    font-weight: bold;
}

.texto2 {
    margin-bottom: 5px;
}

h2 {
    font-size: 40px;
}



label {
    display: block;

    width: 100%;
    max-width: 400px;

    margin: 20px auto;

    background-color: white;

    border-radius: 15px;

    padding: 28px;

    text-align: center;

    font-weight: bold;

    border: 2px dotted rgb(180, 180, 180);

    cursor: pointer;
}

label:hover {
    background-color: rgb(201, 243, 201);
    transition: 0.5s;
}

input {
    display: none;
}



.lista {
    width: 100%;
    max-width: 500px;

    margin: 20px auto;
}


.bloco-nota {
    width: 100%;

    padding: 25px;

    margin-bottom: 20px;

    background-color: white;

    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    font-family: Arial, sans-serif;

    font-size: 14px;

    line-height: 1.8;

    text-align: left;

    font-weight: bold;

    overflow-wrap: break-word;
}


.valor-total {
    color: #286815;

    font-weight: bold;

    font-size: 20px;
}



@media (max-width: 600px) {

    .container {
        margin-top: 40px;
        padding: 0 15px;
    }

    h1 {
        font-size: 28px;
    }

    .texto1 {
        font-size: 14px;
    }

    .container2 {
        max-width: 100%;
        padding: 15px 10px;
    }

    h2 {
        font-size: 32px;
    }

    label {
        max-width: 100%;
        padding: 22px 15px;
    }

    .lista {
        max-width: 100%;
    }

    .bloco-nota {
        padding: 20px;
        font-size: 13px;
    }

    .valor-total {
        font-size: 18px;
    }
}